.terms-page {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terms {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 550px;
  color: black;
  padding: 10px;
}

.terms>h1,
.terms>h2,
.terms>h3 {
  font-family: var(--main-font);
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.terms>p {
  font-family: var(--secondary-font);
  width: 100%;
  text-align: left;
  margin: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 750px) {

  .terms>h1,
  .terms>h2,
  .terms>h3 {
    text-align: center;
  }
}