.learn-more-page {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  width: 60%;
  padding-top: 40px;
  padding-bottom: 40px;
  row-gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.what-is-it {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.wink-mod-header {
  font-weight: 500;
  font-family: var(--main-font);
  font-size: 37px;
  width: 80%;
  text-align: center;
}

.wink-mod-description {
  width: 80%;
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 18px;
  text-align: left;
}


.how-it-works {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  justify-content: flex-start;
}

.plug-and-play-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plug-and-play-img>img {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  object-fit: cover;
  width: 375px;
  height: 375px;
}

.plug-and-play-container {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.install-in-minutes {
  font-family: var(--main-font);
  font-weight: 500;
  margin: 5px 0 5px 0;
}

.plug-and-play-text {
  width: 70%;
  font-weight: 300;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font);
}

.install-brief {
  width: 100%;
  display: grid;
  margin-top: 30px;
  grid-template-columns: 50% 50%;
}

.cta-button-info {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: bold;
  color: #800020;
}

.cta-button-info>svg {
  width: 30px;
  height: 30px;
  fill: #800020;
}

.cta-button-info:hover,
.cta-button-info:hover>svg {
  color: #b7002e;
  fill: #b7002e;
}

.app-compatibility {
  font-family: var(--main-font);
  font-weight: 500;
  margin: 5px 0 5px 0;
}

.application-brief {
  width: 100%;
  display: grid;
  margin-top: 45px;
  grid-template-columns: 50% 50%;
}

.app-image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-image-container>img {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  height: 600px;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.install-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.install-container>a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-play-logo,
.app-store-logo {
  width: 150px;
  height: 50px;
}

.app-text {
  width: 70%;
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 300;
}

.why-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.why-choose-us-header {
  width: 100%;
}

.why-us-table-compare {
  /* width: 100%; */
  display: grid;
  grid-template-columns: 500px 200px 200px;
  border-radius: 6px;
}

.why-us-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  text-align: center;
  font-weight: 500;
  font-family: var(--main-font);
  margin: 0;
  font-size: 24px;
}

.faq-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 10px;
}

.feature-text {
  margin: 0;
  /* padding: 10px 0 10px 0; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font);
  font-weight: 400;
  height: 60px;
  /* border-top: 1px solid rgba(0, 0, 0, 0.3); */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
}

.feature-ours,
.feature-others {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
  justify-content: center;
}

.check-mark,
.question-mark,
.x-mark {
  width: 25px;
  height: 25px;
}

.check-mark {
  fill: green;
}

.question-mark {
  fill: orange;
}

.x-mark {
  stroke: red;
}

.questions-and-answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.accordion-faq {
  border: none;
  border-radius: 0 !important;
  box-shadow: none !important;
  max-width: 850px;
  width: 100%;
  border-top: 1px solid rgba(125, 125, 125, 0.5);
  padding: 20px 0 20px 0;
}

.accordion-faq::before {
  background-color: transparent !important;
}

.accordion-faq:last-child {
  border-bottom: 1px solid rgba(125, 125, 125, 0.5);
}

.accordion-header {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 18px;
  padding: 0 !important;
}

.accordion-details {
  font-family: var(--secondary-font);
  font-size: 17px;
  padding: 0 !important;
}