.contact-page {
  width: 100%;
}

.contact-items {
  display: grid;
  grid-template-columns: 50% 50%;
  color: white;
  margin: 10px;
  height: 100%;
  margin-bottom: 30px;
}

.question-header {
  font-family: var(--main-font);
  font-weight: bold;
  text-align: left;
  font-size: 45px;
}

.contact-information {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.contact-info-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 550px;
  min-width: 330px;
  align-items: center;
  justify-content: center;
  min-height: 700px;
}

.contact-description-upper,
.contact-description-lower {
  font-family: var(--secondary-font);
  font-weight: normal;
  font-size: 18px;
}


.contact-info-items {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
  width: 100%;
}

.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  font-family: var(--secondary-font);
  font-weight: lighter;
  font-size: 18px;
}

.contact-item>a {
  color: white;
}

.contact-item:hover>a,
.contact-item:hover>svg {
  color: #b7002e;
  fill: #b7002e;
}

.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-us-header {
  font-size: 37px;
  font-family: var(--main-font);
  font-weight: bold;
}

.contact-form {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 20px;
  width: 80%;
  max-width: 550px;
  min-width: 330px;
}

.name-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 30px;
}

.lname-input,
.fname-input {
  height: 30px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 13px;
  width: 100%;
  border-radius: 0;
  border: 2px solid white;
  padding: 0;
}

.lname-input:active,
.fname-input:active,
.lname-input:focus,
.fname-input:focus,
.email-input:active,
.phone-input:active,
.subject-input:active,
.email-input:focus,
.phone-input:focus,
.subject-input:focus,
.main-input:focus,
.main-input:active {
  outline: none !important;
  border: 2px solid #cd0436;
  border-radius: 2px;
}

.email-input,
.phone-input,
.subject-input {
  height: 30px;
  font-family: var(--secondary-font);
  font-size: 13px;
  font-weight: 400;
  border-radius: 0;
  border: 2px solid white;
}

.form-submit {
  width: 100%;
  background-color: #800020;
  color: white;
  font-family: var(--main-font);
  font-size: 16px;
  border: none;
  border-radius: 0;
  height: 45px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #a30029;
}

.form-submit:active {
  background-color: #cd0436;
}

.main-input {
  resize: none;
  /* max-height: 250px; */
  /* min-height: 100px; */
  font-size: 14px;
  height: 150px;
  font-family: var(--secondary-font);
  font-weight: 400;
  border-radius: 0;
  border: 2px solid white;
}

.name-container {
  display: flex;
  flex-direction: row;
}

.email-icon,
.phone-icon {
  width: 27px;
  height: 27px;
  fill: white;
}

.submission-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000000;
}

.submission-popup {
  padding: 20px;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.popup-header {
  font-family: var(--main-font);
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.popup-text {
  width: 300px;
  text-align: center;
  font-weight: 300;
  font-family: var(--secondary-font);
}

.close-modal {
  width: 100%;
  border: none;
  border-radius: 0;
  background-color: #800020;
  color: white;
  font-family: var(--secondary-font);
  font-size: 15px;
}

@media screen and (max-width: 900px) {
  .contact-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}