.faq-page {
  background-color: white;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 40px;
}

.faq-header-title {
  font-family: var(--main-font);
  font-weight: bold;
  align-self: flex-start;
  width: 100%;
}

.questions-and-answers {
  width: 45%;
  min-width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 10px;
  margin-bottom: 50px;
}

.accordion-faq {
  min-width: 330px;
  width: 100%
}

.accordion-header {
  font-size: 22px;
  font-family: var(--main-font);
  /* font-weight: bold; */
}

.accordion-details {
  font-family: var(--secondary-font);
  font-size: 17px;
}