.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: calc(var(--nav-height) - 1px);
  /* background-color: var(--background-primary); */
  background-color: transparent;
  border-bottom: 1px solid rgba(97, 97, 97, 0.46);
  z-index: 1000;
}

.navbar>* {
  user-select: none;
}

.navbar-spacer {
  height: var(--nav-height);
  width: 100%;
  background-color: transparent;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-logo {
  margin-left: 25px;
  height: 75px;
  width: 75px;
}

.company-name {
  margin: 0;
  margin-left: 25px;
  font-size: 28px;
  color: white;
  font-family: var(--main-font);
}

.navigation {
  list-style-type: none;
  display: flex;
  column-gap: 33px;
  margin: 0;
  padding: 0;
  margin-right: 25px;
}

.nav-item {
  font-size: 20px;
  font-weight: bold;
  color: rgb(224, 217, 229);
  transition: 0.25s ease;
  font-family: var(--main-font);
}

.nav-item:hover {
  color: #800020;
  border-bottom: 1px solid #800020;
}


@media screen and (max-width: 750px) {
  .company-name {
    font-size: 20px;
  }

  .nav-item {
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .company-name {
    font-size: 18px;
  }

  .nav-item {
    font-size: 15px;
  }
}