.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  height: calc(var(--nav-height) - 1px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.515) 0%, transparent 60%);
  border-bottom: 1px solid rgba(97, 97, 97, 0.46);
  z-index: 1000;
}

.navbar>* {
  user-select: none;
}

.navbar-spacer {
  height: var(--nav-height);
  min-height: var(--nav-height);
  width: 100%;
  background-color: transparent;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 25px;
}

.nav-logo {
  /* margin-left: 25px; */
  height: 75px;
  /* width: 75px; */
}

.company-name {
  margin: 0;
  margin-left: 25px;
  font-size: 28px;
  color: white;
  font-family: var(--main-font);
}


.nav-navigation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 3px;
  margin-left: 25px;
}

.nav-navigation-container:hover {
  color: #d0d0d0;
  background-color: rgba(148, 149, 152, 0.1);
  border-color: #d0d0d0;
  backdrop-filter: blur(32px);
  cursor: pointer;
}

.nav-navigation-text {
  color: white;
  font-family: var(--secondary-font);
  font-size: 16px;
  margin: 0;
}

.nav-navigation-menu {
  width: 40px;
  height: 40px;

  fill: rgba(255, 255, 255, 0.771) !important;
  /* stroke: white; */
  /* font-size: xx-large !important; */
  cursor: pointer;
  
}

.close-icon {
  width: 40px;
  height: 40px;
  fill: white;
  stroke: white;
  cursor: pointer;
}


@media screen and (max-width: 750px) {
  .company-name {
    font-size: 24px;
  }

  .nav-item {
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .company-name {
    font-size: 20px;
  }

  .nav-item {
    font-size: 15px;
  }
}