#root {
  width: 100vw;
  height: 100vh;
}

.home-page {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}


.splash-cta {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--nav-height));
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.cta-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -10;
  width: 100vw;
  height: 100vh;
}


.text-cta {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}



.cta-header-top,
.cta-header-bottom {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: lighter;
  font-family: var(--secondary-font);
}

.cta-header-top {
  align-self: flex-start;
}

.cta-header-bottom {
  align-self: flex-end;
}

.cta-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 37.5px;
  justify-content: center;
}

.cta-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--secondary-font);
  /* justify-items: center; */
  overflow: hidden;
  font-size: 19px;
  font-weight: bold;
  color: white;
}

.rightarrow {
  fill: white;
  height: 30px;
  width: 30px;
  transition: 0.25s ease;
  margin-left: 20px;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;

  text-shadow: 2px 2px 5px black;
}

.cta-button:hover,
.cta-button:hover>.rightarrow {
  color: #800020;
  fill: #800020;
}

.cta-button:hover>.rightarrow {
  animation-name: arrowAnimate;
  animation-timing-function: ease-out;
}

.temp-video-notice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  color: white;
  font-family: var(--main-font);
  font-weight: lighter;
  bottom: 0;
  width: 100%;
}

@keyframes arrowAnimate {
  0% {
    transform: none;
  }

  75% {
    transform: translateX(50px);
  }

  76% {
    transform: translateX(-20px);
  }

  100% {
    transform: none;
  }
}